* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  width: 70%;
  margin: 3rem auto;
}
main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  border: 0.1rem solid white;
  padding: 1rem;
}
main form input {
  padding-left: 0.5rem;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  font-size: xx-large;
}
main form button {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  width: auto;
  background-color: transparent;
  border: 0.1rem dashed white;
  padding: 0.5rem;
  cursor: pointer;
}
main form button:hover {
  background-color: #222;
}
main form button svg {
  width: 2rem;
}
main #listContainer {
  border: 0.1rem solid white;
  padding: 1rem;
}
main #listContainer #listHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: xx-large;
  text-transform: capitalize;
  color: white;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid white;
}
main #listContainer #listHeader button {
  background-color: transparent;
  border: 0.1rem solid white;
  color: white;
  padding: 0.3rem;
  font-size: xx-large;
  text-transform: capitalize;
  cursor: pointer;
}
main #listContainer #listHeader button:hover {
  background-color: white;
  color: #333;
}
main #listContainer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
main #listContainer ul li {
  font-size: x-large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
  color: white;
}
main #listContainer ul li input {
  width: 2rem;
  cursor: pointer;
}
main #listContainer ul li input:checked + p {
  text-decoration: line-through;
}
main #listContainer ul li button {
  position: relative;
  float: right;
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: white;
  font-size: large;
  text-transform: uppercase;
  cursor: pointer;
}
main #listContainer ul li button:hover {
  color: black;
}